.logo a {
  text-decoration: none;
  color: #000;
}
.nav_link {
  color: #000;
  text-decoration: none;
}
.nav_link:hover {
  color: #fff;
}
.top_bar {
  background-color: #02121f;
  color: #fff;
  padding: 9px 0;
}
.container {
  width: 85%;
  margin: auto;
}
.top_bar .container {
  display: flex;
  justify-content: space-between;
}
.top_bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.top_bar i {
  font-size: 13px;
}
@media screen and (max-width: 534px) {
  .top_bar {
    display: none;
  }
}
/* topbar styling end */
/* header section styling start */
.header_section {
  padding: 20px 0;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.header_section .logo h2 {
  font-variant: small-caps;
  font-style: italic;
  font-size: 35px;
}
.header_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_section ul {
  list-style: none;
}
.header_section .element_container {
  list-style: none;
  display: flex;
  gap: 10px;
}
.header_section ul li {
  padding: 5px 10px;
  text-transform: uppercase;
}
.header_section ul li:hover {
  background-color: #022948;
  color: #fff;
  cursor: pointer;
}
.nav_link {
  position: relative;
}
.header_section .dropdown {
  background-color: #022948;
  color: #fff;
  display: none;
  padding: 10px;
  margin-left: -20px;
  position: absolute;
  width: 170px;
  top: 29px;
  z-index: 1000;
}
.header_section .dropdown li {
  font-size: 14px;
}

.nav_link:hover .dropdown {
  display: block;
}
.close {
  font-size: 27px;
  font-weight: 550;
}
.menu_bar {
  display: none;
}
.menu_bar i {
  font-size: 25px;
  cursor: pointer;
}
.not {
  display: none;
}
@media screen and (max-width: 1088px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 917px) {
  .element_container {
    display: none !important;
  }
  .nav_link {
    color: #fff;
  }
  .nav_elements .show_element_container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    width: 230px;
    position: absolute;
    right: 0;
    top: 35px;
    height: calc(100vh - 35px);
    z-index: 1000;
    padding: 50px 20px;
  }
  .menu_bar {
    display: block;
  }
  .close {
    color: #fff;
    position: absolute;
    right: 230px;
    z-index: 1000;
    padding: 20px 10px;
    top: 20px;
  }
}
@media screen and (max-width: 534px) {
  .header_section {
    background-color: #000;
    color: #fff;
  }
  .nav_elements .show_element_container {
    top: 0px;
    height: 100vh;
    padding-top: 70px;
  }
  .header_section .logo h2 a {
    color: #fff;
  }
}

/* header section styling end */
/* hero section styling start */
.hero_section {
  background-color: #000;
  color: #fff;
  position: relative;
}
.hero_section .overlay {
  height: 600px;
  width: 100%;
  background: url("../../../public/images/cover.webp") no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}
.hero_section_content {
  position: absolute;
  top: 25%;
  left: 10%;
}
.hero_section_content p {
  font-size: 18px;
  font-style: italic;
  padding: 30px 0;
  color: #ccc;
}
.hero_section_content button {
  border: none;
  background-color: #fff;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 17px;
}
@media screen and (max-width: 534px) {
  .hero_section .overlay {
    height: 500px;
  }
  .hero_section_content {
    top: 15%;
    left: 5%;
  }
  .hero_section h1 {
    font-size: 30px;
  }
  .hero_section_content p {
    font-size: 16px;
  }
}
/* hero section styling end */
