/* footer section styling start */
.footer_section {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}
.footer_section .container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
}
.footer_link h4 {
  font-size: 22px;
  padding-bottom: 10px;
}
.footer_section ul {
  list-style: none;
}
.footer_section ul li {
  padding: 3px 0;
}

.footer_section .social_icons ul {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.footer_section .social_icons li {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 0;
  background-color: #fff;
  color: #000;
}
.footer_section .social_icons li i {
  margin-top: 10px;
  font-size: 14px;
}
.footer_section p {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 40px;
}
/* footer section styling end */
